__pycache__/
*.py[cod]
.venv/
*.egg-info/

.env
.env.*
!.env.example

data/*
!data/ground-truth/
*.csv
*.parquet
*.xlsx
*.zip
*.pdf

models/
*.pt
mlruns/
qdrant_storage/

.ipynb_checkpoints/
.DS_Store
data/raw/

# ground truth is small and must be versioned
!data/ground-truth/*.csv
!data/ground-truth/*.xlsx
